In [60]:
import pandas as pd
from functools import reduce
import sweetviz as sv

In [61]:
df = pd.read_csv("solicitudes_credito.csv",index_col=0, sep=";")
df

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,COMERCIO,charcuteria,manrique central no. 2,1,3.0,28/12/2017,7000000,microempresarial
1,masculino,comercio,distribuidora de,santa lucia,2,12.0,16/03/2018,"$ 7,000,000.00",microempresarial
2,masculino,comercio,tienda,belen,3,16.0,2018/02/14,7800000,microempresarial
3,masculino,servicio,organización y,robledo,2,7.0,8/09/2016,1500000,microempresarial
4,masculino,servicio,COMIDAS RAPIDAS,20 de julio,2,13.0,20/12/2016,3000000,microempresarial
...,...,...,...,...,...,...,...,...,...
10915,femenino,industria,cafeteria,santo domingo savio,1,1.0,22/06/2018,1000000,microempresarial
10916,femenino,comercio,variedades,villa del socorro,2,2.0,1/04/2019,7000000,microempresarial
10917,femenino,comercio,comidas rapidas,la libertad,2,8.0,22/05/2018,7812000,microempresarial
10918,femenino,comercio,almacen de ropa en,caribe,3,5.0,27/02/2019,8281000,microempresarial
10919,femenino,servicio,fabrica de alimentos,andalucia,2,2.0,8/06/2017,30000000,empresarial ed.

In [62]:
# report = sv.analyze(df)
# report.show_html('Report.html')

In [63]:
def clean_col(df, col_name):
    df = df.copy()
    # df[col_name] = df[col_name].str.strip()
    df[col_name] = df[col_name].str.lower()
    df[col_name] = df[col_name].str.replace('_', ' ')
    df[col_name] = df[col_name].str.replace('-', ' ')
    # df[col_name] = df[col_name].str.translate(
    #     str.maketrans("", "", "!\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~")
    # )
    # df[col_name] = df[col_name].str.strip()

    return df

In [64]:
df["comuna_ciudadano"] = df["comuna_ciudadano"].astype(int)

cols_to_clean = ['sexo', 'tipo_de_emprendimiento', 'barrio',
                 'línea_credito', 'idea_negocio']

for col in cols_to_clean:
    df = clean_col(df=df, col_name=col)

df

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,comercio,charcuteria,manrique central no. 2,1,3,28/12/2017,7000000,microempresarial
1,masculino,comercio,distribuidora de,santa lucia,2,12,16/03/2018,"$ 7,000,000.00",microempresarial
2,masculino,comercio,tienda,belen,3,16,2018/02/14,7800000,microempresarial
3,masculino,servicio,organización y,robledo,2,7,8/09/2016,1500000,microempresarial
4,masculino,servicio,comidas rapidas,20 de julio,2,13,20/12/2016,3000000,microempresarial
...,...,...,...,...,...,...,...,...,...
10915,femenino,industria,cafeteria,santo domingo savio,1,1,22/06/2018,1000000,microempresarial
10916,femenino,comercio,variedades,villa del socorro,2,2,1/04/2019,7000000,microempresarial
10917,femenino,comercio,comidas rapidas,la libertad,2,8,22/05/2018,7812000,microempresarial
10918,femenino,comercio,almacen de ropa en,caribe,3,5,27/02/2019,8281000,microempresarial
10919,femenino,servicio,fabrica de alimentos,andalucia,2,2,8/06/2017,30000000,empresarial ed.

In [65]:
df['monto_del_credito'] = df['monto_del_credito'].str.strip('$')
df['monto_del_credito'] = df['monto_del_credito'].str.replace(',', '')
df['monto_del_credito'] = df['monto_del_credito'].str.replace(' ', '')
df["monto_del_credito"] = df["monto_del_credito"].astype(float)
df["monto_del_credito"] = df["monto_del_credito"].astype(int)
df

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,comercio,charcuteria,manrique central no. 2,1,3,28/12/2017,7000000,microempresarial
1,masculino,comercio,distribuidora de,santa lucia,2,12,16/03/2018,7000000,microempresarial
2,masculino,comercio,tienda,belen,3,16,2018/02/14,7800000,microempresarial
3,masculino,servicio,organización y,robledo,2,7,8/09/2016,1500000,microempresarial
4,masculino,servicio,comidas rapidas,20 de julio,2,13,20/12/2016,3000000,microempresarial
...,...,...,...,...,...,...,...,...,...
10915,femenino,industria,cafeteria,santo domingo savio,1,1,22/06/2018,1000000,microempresarial
10916,femenino,comercio,variedades,villa del socorro,2,2,1/04/2019,7000000,microempresarial
10917,femenino,comercio,comidas rapidas,la libertad,2,8,22/05/2018,7812000,microempresarial
10918,femenino,comercio,almacen de ropa en,caribe,3,5,27/02/2019,8281000,microempresarial
10919,femenino,servicio,fabrica de alimentos,andalucia,2,2,8/06/2017,30000000,empresarial ed.

In [66]:
def correccion(fecha):
    componentes = fecha.split('/')
    if len(componentes[0]) == 4:
        nueva_fecha = '/'.join(reversed(componentes))
    else:
        nueva_fecha = fecha
    return nueva_fecha
    
df["fecha_de_beneficio"] = df["fecha_de_beneficio"].map(correccion)

In [67]:
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)

df

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,comercio,charcuteria,manrique central no. 2,1,3,28/12/2017,7000000,microempresarial
1,masculino,comercio,distribuidora de,santa lucia,2,12,16/03/2018,7000000,microempresarial
2,masculino,comercio,tienda,belen,3,16,14/02/2018,7800000,microempresarial
3,masculino,servicio,organización y,robledo,2,7,8/09/2016,1500000,microempresarial
4,masculino,servicio,comidas rapidas,20 de julio,2,13,20/12/2016,3000000,microempresarial
...,...,...,...,...,...,...,...,...,...
10913,femenino,comercio,almacen de ropa en,campo valdes no. 1,3,4,4/07/2018,2000000,microempresarial
10914,femenino,comercio,cafeteria,la america,3,12,20/03/2018,5000000,microempresarial
10915,femenino,industria,cafeteria,santo domingo savio,1,1,22/06/2018,1000000,microempresarial
10918,femenino,comercio,almacen de ropa en,caribe,3,5,27/02/2019,8281000,microempresarial
10919,femenino,servicio,fabrica de alimentos,andalucia,2,2,8/06/2017,30000000,empresarial ed.

In [68]:
df['sexo'].value_counts().to_list()

[6617, 3589]

In [69]:
report = sv.analyze(df)
report.show_html('Report.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

Report Report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [70]:
df1['sexo'].value_counts().to_list()

NameError: name 'df1' is not defined

In [ ]:
df1['idea_negocio'].value_counts().to_list()

[1844,
 1671,
 983,
 955,
 584,
 584,
 273,
 216,
 164,
 160,
 159,
 151,
 142,
 140,
 134,
 127,
 106,
 102,
 93,
 91,
 90,
 85,
 79,
 74,
 68,
 60,
 58,
 57,
 55,
 54,
 45,
 42,
 40,
 40,
 40,
 39,
 36,
 34,
 33,
 32,
 32,
 30,
 29,
 28,
 26,
 23,
 22,
 22,
 21,
 20,
 19,
 19,
 18,
 14,
 12,
 12,
 11,
 10,
 9,
 9,
 9,
 8,
 7,
 7,
 7,
 6,
 6,
 6,
 5,
 5,
 5,
 4,
 3,
 2]

In [ ]:
sum([1844,
        1671,
        983,
        955,
        584,
        584,
        273,
        216,
        164,
        160,
        159,
        151,
        142,
        140,
        134,
        127,
        106,
        102,
        93,
        91,
        90,
        85,
        79,
        74,
        68,
        58,
        57,
        55,
        54,
        45,
        42,
        40,
        40,
        40,
        39,
        37,
        36,
        34,
        33,
        32,
        32,
        30,
        29,
        28,
        26,
        23,
        23,
        22,
        22,
        21,
        20,
        19,
        19,
        18,
        14,
        12,
        12,
        11,
        10,
        9,
        9,
        9,
        8,
        7,
        7,
        7,
        6,
        6,
        6,
        5,
        5,
        5,
        4,
        3,
        2,
    ])

10206

In [ ]:
sum(df1['idea_negocio'].value_counts().to_list())

10206